.contact {
    @include container; 
    padding: 5em 0;
    text-align: center;
}

.button {
    display: inline-block;
    width: auto;
    margin: 0 auto;
    background: $accent;
    border: none;
    @include sans-serif($fs: 2rem, $color: $white);
    padding: .5em 1.5em;
}