.portfolio {
    text-align: center;
    background: $deep-gray;
    padding: 5em 0;
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    @include container($max-width: 50em);
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 100%;
        color: $white;
        padding: 1em;
        text-align: left;
        background: rgba($dark-blue, .95);
    }
}

.portfolio-title {
    color: $white;
    font-size: 2.2rem;
    padding-bottom: .7rem;
}

.portfolio-description {
    font-size: 0.9rem;
}

@media screen and (max-width: 600px) {
    .portfolio-title {
        font-size: 2.2rem;
    }

    .portfolio-description {
        font-size: .8rem;
    }
}

.portfolio-link {
    display: inline-block;
    width: fit-content;
    color: $gray;
    font-weight: $fw-b;
    padding-top: 10px;
    text-decoration: none;

    &:hover {
        color: $accent;
    }
}

@supports (display: grid) {
    .portfolio-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        }
    }

    @media screen and (max-width: 760px) {
        .portfolio-items {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 1em;
        }
    }