$white: #ffffff; // Font and Heading Color
$gray: #a7a7a7; // Body Color 
$dark-gray: #606060; // Contact form label
$deep-gray:#1B1F27; // Header, Portfolio, Footer Color
$accent: #03afc2; // About me and Contact form button
$dark-blue: #090D10; // Intro Middle, About Me, Contact, Gradient
$onyx: #3c3744; // header and Intro gradient 


