@mixin container($width: 90%, $max-width: 50em) {
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}

@mixin clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin mquery($width: 50em) {
    @media screen and (min-width: $width) {
        @content;
    }
}